//COLORS 
$black: #000;
$white: #fff;
$dark: #1B1B1B;
$dark-blue: #243447;
$red: #FF5353;
$green: #53FF5A;
$dark-grey: #686868;
$grey: #C4C4C4;
$light-grey: #F2F2F2;
$font-main: #353535;

//BACKGROUND GRADIENTS
$bloody-ice: linear-gradient(132.33deg, #D24074 -0.67%, #1268C3 102.54%);
$earth: linear-gradient(135deg, #A1FF8B 0%, #3F93FF 96.83%); 
$grasshoper: linear-gradient(135deg, #80F1A6 0%, #EFD000 100%);
$ice-cream: linear-gradient(135deg, #E25544 2.88%, #42127E 98.14%);
$blackberry: linear-gradient(135deg, #7EAEFF 2.88%, #FCA6E9 100%);
$sunny-set: linear-gradient(135deg, #E25544 2.88%, #42127E 98.14%);
$horizon: linear-gradient(135deg, #01DCBA 0%, #7F30CB 100%);
$stripe-gets-green: linear-gradient(82.84deg, #4ACF8C 0%, #75EDA6 100%);
$sunny: linear-gradient(135deg, #FBDA61 2.88%, #FFC371 100%);
$sunny-set-light: linear-gradient(135deg, #E25544 2.88%, #620C90 98.14%); 
$stripe-main: linear-gradient(223.53deg, #A5FECA 3.65%, #3EDCEB 31.56%, #2594FF 65.16%, #5533FF 102.22%); 
$pink-red: linear-gradient(132.84deg, #EB6EFF 15.35%, #FF460C 87.95%);
$discord-special: linear-gradient(135deg, #447AE2 2.88%, #49237A 98.14%, #42127E 98.14%);