@import './variables';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body,
button {
  font-family: 'Roboto', sans-serif;
}
img {
	max-height: 100%;
	max-width: 100%;
}

h2 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 64px;
	text-align: center;
	letter-spacing: -0.07em;
	color: $black;
}
p {
  color: $font-main;
}
a {
  text-decoration: none;
}
main {
  display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 80px;
}
